* {
    font-family: 'Montserrat', sans-serif;
}

.fullscreen {
    margin: 0 auto;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
}

.ls-1 {
    letter-spacing: 1px;
}

.carousel {
    width: 100%;
    height: 100%;
}

.carousel {
    max-height: 100vh;
}

.navbar {
    font-size: 20px;
    background-color: #00000000;
    height: 100px;    
    transition: .3s ease-in-out;
}

.dropdown-menu {
    width: 250px;
}

.bg-bt {
    background-color: #000000AA;
}

.blend {
    mix-blend-mode: multiply;
}

.lh-30 {
    line-height: 30px;
}

.bg-d9 {
    background-color: #d9d9d9; 
}

.bg-59 {
    background-color: #595959;
}

.w-300 {
    width: 300px;
}

.logoScaling-full {
    width:100%;
    height: auto;
    overflow:hidden;
}

.logoScaling-small {
    width:75%;
    height: auto;
    overflow:hidden;
}

.list-group-item {
    background-color: transparent;
    border-top: 1px solid #ddd;
    border-radius: 0;
    color: #fff;
}

.list-group-transparent {
    background-color: transparent;
}

.list-item {
    color: white;
}

.scrolled {
    background-color: #000000AA;
    height: 50px;
}

.stay-black {
    background-color: #000000AA;
    height: 50px;
}
